*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
server/webApp/node_modules
server/webApp/dist
composeApp/client.db*
composeApp/tracker2.preferences_pb
**/Secrets.kt
composeApp/release
server/webApp/package-lock.json
keystore-release.jks
release-signing.properties
server/server.db
gradle/gradle-daemon-jvm.properties